@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tietojen muokkaus</h1>
    <p><a href="http://localhost:54321/Henkilot/Index" class="btn btn-primary btn-lg"> Henkilöt &raquo;</a></p>
    <p><a href="http://localhost:54321/Projektit/Index" class="btn btn-primary btn-lg">Projektit &raquo;</a></p>
    <p><a href="http://localhost:54321/Tunnit/Index" class="btn btn-primary btn-lg">Tunnit &raquo;</a></p>
</div>

