@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tietojen muokkaus</h1>
    <p><a href="http://koulukantamvc.azurewebsites.net/Henkilot/Index" class="btn btn-primary btn-lg"> Henkilöt &raquo;</a></p>
    <p><a href="http://koulukantamvc.azurewebsites.net/Projektit/Index" class="btn btn-primary btn-lg">Projektit &raquo;</a></p>
    <p><a href="http://koulukantamvc.azurewebsites.net/Tunnit/Index" class="btn btn-primary btn-lg">Tunnit &raquo;</a></p>
</div>

