<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/14f35c5e-8527-4778-964e-7f89eec423eb/resourcegroups/Group/providers/Microsoft.Web/sites/KoulukantaMvc</ResourceId>
    <ResourceGroup>Group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://koulukantamvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>koulukantamvc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>KoulukantaMvc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$KoulukantaMvc</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="KoulukantaEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:heiskan.database.windows.net;Initial Catalog=Koulukanta;Persist Security Info=True;User ID=HJ;Password=Point2015!;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="KoulukantaMvc.Models.KoulukantaEntities, KoulukantaMvc" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="KoulukantaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.KoulukantaModel.csdl|res://*/Models.KoulukantaModel.ssdl|res://*/Models.KoulukantaModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:heiskan.database.windows.net;Initial Catalog=Koulukanta;Persist Security Info=True;User ID=HJ;Password=Point2015!;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>